
          <div class="publications">
            For a complete list, please see: [<b><a href="publications">Publications</a></b>] or [<b><a href="https://scholar.google.de/citations?hl=en&user=MbBntPgAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Google Scholar</a></b>]
            
            <br><br><br>
            <!-- <h4>Informative Priors for Neural Networks</h4>
            {% bibliography --group_by placeholder -f {{ site.scholar.bibliography }} -q @*[selected=true,area=Informative Priors for Neural Networks]* %}
            
            <br> -->
            <smaller_margin><h4>Reliable Uncertainty Quantification</h4></smaller_margin>
            {% bibliography --group_by placeholder -f {{ site.scholar.bibliography }} -q @*[selected=true,area=Reliable Uncertainty Quantification]* %}

            <br>
            <h4>Robustness to Distribution Shifts</h4>
            {% bibliography --group_by placeholder -f {{ site.scholar.bibliography }} -q @*[selected=true,area=Robustness to Distribution Shifts]* %}

            <br>
            <h4>Interpretability</h4>
            {% bibliography --group_by placeholder -f {{ site.scholar.bibliography }} -q @*[selected=true,area=Interpretability]* %}

            <br>
            <h4>Probabilistic Sequential Decision-Making</h4>
            {% bibliography --group_by placeholder -f {{ site.scholar.bibliography }} -q @*[selected=true,area=Probabilistic Sequential Decision-Making]* %}

            <br>
            <h4>Clinical Decision-Making and Drug Discovery</h4>
            {% bibliography --group_by placeholder -f {{ site.scholar.bibliography }} -q @*[selected=true,area=Clinical Decision-Making and Drug Discovery]* %}

          </div>
